**/Dockerfile
**/.dockerignore

**/node_modules
**/npm-debug.log
**/README.md

.git
**/.next
**/bower_components
**/dist
**/build

**/.env
**/.env.＊

**/libquery_*
!**/libquery_engine-linux-musl-arm64-openssl-3.0.x.so.node

.config
