.box {
  --bounce-time: 4s;
  animation: bounce-7 var(--bounce-time);
  animation-direction: reverse;
}

.box .lid {
  animation: wiggle 1s infinite;
  animation-delay: var(--bounce-time);
}
.box .lid[data-start='true'] {
  animation: none;
}
.box .bottom {
  animation: wiggle 2s infinite;
  animation-direction: reverse;
  animation-delay: var(--bounce-time);
}
.box .bottom[data-start='true'] {
  animation: none;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
}

/* Ref: https://css-tricks.com/making-css-animations-feel-natural/ */
@keyframes bounce-7 {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-100px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
