@import "@folio/ui/globals.css";
@plugin "@tailwindcss/typography";
@source "../../../../packages/ui/src";

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

a {
  text-underline-offset: 0.2em;
}
